{% extends 'home/base.html' %}
{% load static %}
{% block head_link %}
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}">
    <script src="{% static 'home/js/jquery3.min.js' %}"></script>
    <script src="{% static 'home/js/bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'home/css/footer_.css' %}">
    <link rel="stylesheet" href="{% static  'home/css/contact_us.css' %}">
{% endblock %}
{% block body %}
<div class="container animated fadeIn">
    <div class="mt-2 alert" id="msg"></div>
    <div class="row">
      <div class="col-sm-12 row mt-5" id="parent">
          <div class="col-sm-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14687.35478362812!2d72.5300895!3d23.0296941!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb8730d1b59be389f!2sKewin%20Chemicals%20Private%20Limited!5e0!3m2!1sen!2sin!4v1611477974872!5m2!1sen!2sin" width="500" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          </div>  
          <div class="col-sm-4">
              <form  class="contact-form" id="query_form" method="post">
                    {% csrf_token %}
                  <div class="form-group">
                    <input type="text" class="form-control" id="name" name="nm" placeholder="Name" required="" autofocus="">
                  </div>
              
              
                  <div class="form-group form_left">
                    <input type="email" class="form-control" id="email" name="em" placeholder="Email" required="">
                  </div>
              
                <div class="form-group">
                     <input type="text" class="form-control" id="phone" onkeypress="return event.charCode >= 48 && event.charCode <= 57" maxlength="10" placeholder="Mobile No." required="">
                </div>
                <div class="form-group">
                <textarea class="form-control textarea-contact" rows="5" id="comment" name="FB" placeholder="Type Your Message/Feedback here..." required=""></textarea>
                <br>
                  <button class="btn btn-default btn-send"> <span class="glyphicon glyphicon-send"></span> Submit </button>
                </div>
               </form>
          </div>
      </div>
    </div>
  
    <div class="container second-portion">
      <div class="row">
          <!-- Boxes de Acoes -->
          <div class="col-xs-12 col-sm-6 col-lg-4">
              <div class="box">							
                  <div class="icon">
                      <div class="image"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                      <div class="info">
                          <h3 class="title mt-1">MAIL & WEBSITE</h3>
                          <p>
                              <i class="fa fa-envelope" aria-hidden="true"></i> &nbsp {{details.customer_care_Email_Id}}
                              <br>
                              <br>
                              <a href="https://www.kewinchem.com"><i class="fa fa-globe" aria-hidden="true"></i> &nbsp www.kewinchem.com</a>
                          </p>
                      
                      </div>
                  </div>
                  <div class="space"></div>
              </div> 
          </div>
              
          <div class="col-xs-12 col-sm-6 col-lg-4">
              <div class="box">							
                  <div class="icon">
                      <div class="image"><i class="fa fa-mobile" aria-hidden="true"></i></div>
                      <div class="info">
                          <h3 class="title mt-1">CONTACT Number</h3>
                          <p>
                              <a class='bounce' href="Tel:+91 {{details.customer_care_number}}"><i class="fa fa-mobile" aria-hidden="true"></i> &nbsp  (+91)-{{details.customer_care_number}}</a>
                          </p>
                      </div>
                  </div>
                  <div class="space"></div>
              </div> 
          </div>
              
          <div class="col-xs-12 col-sm-6 col-lg-4">
              <div class="box">							
                  <div class="icon">
                      <div class="image"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                      <div class="info">
                          <h3 class="title mt-1">ADDRESS</h3>
                          <p>
                           <a href="https://www.google.com/maps/place/Kewin+Chemicals+Private+Limited/@23.029694,72.53009,14z/data=!4m5!3m4!1s0x0:0xb8730d1b59be389f!8m2!3d23.0296941!4d72.5300895?hl=en">    
                            <i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp <span>{{details.Address_Line_1}}</span>{{details.Address_Line_2}} <br> PIN {{details.pincode}}
                            </a>
                          </p>
                      </div>
                  </div>
                  <div class="space"></div>
              </div> 
          </div>		    
          <!-- /Boxes de Acoes -->
          
      </div>
  </div>
  
  </div>

  {% include 'home/footer.html' %}
{% endblock %}
{% block end_script %}
<script>
    $(document).ready(function(){
        $("#query_form").on("submit",function(e){
            $("#msg").hide();
            e.preventDefault();
            $.ajax({
                type:"POST",
                url:"{% url 'query_form' %}",
                data:{
                    "name":$("#name").val(),
                    "email_id":$("#email").val(),
                    "mobile_number":$("#phone").val(),
                    "query":$("#comment").val(),
                    "csrfmiddlewaretoken":$("input[name=csrfmiddlewaretoken]").val()
                },
                success:function(responnse){
                    $("#msg").removeClass("alert-success");
                    $("#msg").removeClass("alert-danger");
                    if(responnse.ack == 0){
                        $("#msg").addClass("alert-success");
                        $("#msg").html("Your Query Recieved we Get Back to you soon :) <a href='{% url 'product' %}'>Discover Products</a>");
                        $("#msg").show()
                    }
                    else if (responnse.ack == -1)
                    {
                        $("#msg").addClass("alert-danger");
                        $("#msg").html("Your query not stored!!!!! try again later")
                        $("#msg").show()
                    }
                    else if(responnse.ack == -2)
                    {
                        $("#msg").addClass("alert-danger");
                        $("#error_msg").html("Request Not Allowed !!! Try again After Some Time.")
                        $("#error_msg").show()
                    }
                },error:function(err)
                {
                    console.log(err);
                }
            });
        });
    });
</script>
{% endblock  %}